body {
    margin: 0;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.header {
    display: flex;
    justify-content: space-between;
    background-color: #1F2937;
    padding: 0 100px;
}

#hlogo {
    font-size: 24px;
    color: #F9FAF8;
}


.hlink {
    display: flex;
}

.hlinkk {
    margin: auto 10px;
    font-size: 18px;
    font-weight: lighter;
    color: #E5E7EB;
}

.content1 {
    display: flex;
    background-color: #1F2937;
    justify-content: space-between;
    padding: 20px 100px;
    padding-bottom: 80px;
}

.c1l {
    display: flex;
    flex-direction: column;
    width: 50%;
}

.huge {
    color: #F9FAF8;
    font-size: 48px;
    font-weight: bolder;
    margin-bottom: 0px;
}

.h1p {
    font-size: 18px;
    font-weight: lighter;
    color: #E5E7EB;
    margin-top: 10px;

}

.imog {
    display: flex;
    width: 50%;
    justify-content: center;
    align-items: center;
}

.b1 {
    background-color: #3882F6;
    width: 25%;
    padding: 8px;
    color: white;
    border-radius: 7px;
    font-weight: bold;
    border: 0;
}

.content2 {
    display: flex;
    padding: 20px 100px;
    flex-direction: column;
}

.c2h {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
}

.c2illu {
    display: flex;
    justify-content: center;
    align-items: center;
}

.r1, .r2, .r3 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#c2img {
    border-width: 10px;
    border: #3882F6;
    max-width: 150px;
    border-style: solid;
    border-radius: 8px;
}